.table{
    border: 3px solid #016ab9!important;
}
.table tr{
    /* color: #4646d5 !important; */
    background-color:#016ab9 !important;
                                         
}

.table .feature_heading{
    font-size: large;
    background-color:#0879a6 !important;
    color: white!important;
}
.feature1_heading
{
    text-align:justify !important;
    color: #016ab9;
    font-size: x-large;
    margin-top: 50px;
}

