.table {
    border: 5px solid #016ab9;
}
.table th{
    border: 5px solid #016ab9;
    background:#016ab9;
}
.table tr td{
    border: 5px solid #016ab9;

}
.table tr th{
    border: 5px solid#016ab9;
    background-color: #0879a6;
}
.financial_heading{
    text-align:justify;
    color:  #016ab9;
    font-size: xx-large;
    margin-top: 50px;
}
@media (min-width:320px) and (max-width:430px) {
    .financial_heading{
        font-size: large !important;
    }
}
