
.gallery_container{
   text-align: center !important;
   
  
}
.gallery_row{
   margin-bottom: 50px !important;
   /* margin-left: 220px !important; */
 
   
 
 
}
.second_gallery_row{
   margin-top: 50px !important;
   margin-bottom: 50px !important;



      

}
.third_gallery_row{
   margin-top: 30px !important;
   margin-bottom: 50px !important;
   margin-right: 50px !important;


   
}


.gallery_heading{
   color:#f16807 !important;
   margin-top: 30px !important;
   margin-bottom: 30px !important;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
.img499{
   height: 160px !important;
   width: 160px !important;
   margin-right: 20px !important;
   border-radius: 10px  !important;
   border: 3px solid #f16807;
   padding: 1px !important;
   margin-left: 20px !important;
   margin-bottom: 30px  !important;
 


 
 
}
.img3{
   height: 150px !important;
   width: 150px !important;
   margin-right: 20px !important;
   border-radius: 10px  !important;
   border: 3px solid #f16807;
   padding: 1px !important;
   margin-left: 20px !important;



}
.img2{
   height: 150px !important;
   width: 150px !important;
   border-radius: 10px  !important;
   padding: 1px !important;
   border: 3px solid #f16807;
   
  

}

.gallery_column{
   /* display: flex; */
   flex-direction: row;
   
  
   
}

.second_gallery_column{
   /* display:flex; */
   flex-direction: row;
   
}
.third_column{
   /* display:flex; */
   flex-direction: row;
   
   
}



@media (min-width:320px) and (max-width:2560px) {
    
   .gallery_row{
       direction:flex !important;
       flex-direction:column!important;
        margin-left: 0% !important;
   }
   .second_gallery_row{
      direction:flex !important;
      flex-direction:column!important;
      gap: 30px !important;
      margin-left: 0% !important;
      margin-right:20px  !important;
   }
   .gallery_heading{
      
      text-align: center !important;
   }
   .third_gallery_row{
      direction:flex !important;
      flex-direction:column !important;
      gap: 30px !important;
      margin-left: 0% !important;
      margin-left: 70px !important;
   }
   
   .img499{
      /* margin-left: 25px  !important ;
    margin-bottom: 20px !important; */
   
    
   } 
   /* .lg-img-wrap{
      width: 100% !important;
      height: 80vh !important;
   } */
   img.lg-object.lg-image{
      width: 90% !important;
      height: 80vh !important;
   }
   .img3{
   margin-left: 60px  !important ;

   } 
   .img2{
      margin-bottom:10px;
      
      

   }
   
}
@media (min-width:768px) and (max-width:1030px) {
   .img499{
      margin-top: 30px !important;
   }
   .img2{
      margin-left: 55px;
   }


}
@media (min-width:1440px) and (max-width:2560px) {
   .img2{
      margin-left: 55px;
   }
}





