.gallery_container {
   text-align: center !important;
}

/* Gallery Grid Layout */
.gallery_row,
.second_gallery_row,
.third_gallery_row {
   display: flex !important;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin-bottom: 50px !important;
}

/* Gallery Heading */
.gallery_heading {
   color: #016ab9 !important;
   margin: 30px 0 !important;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: center !important;
}
/* add colse button in gallary picture */
.lg-close {
   background-color: rgba(0, 0, 0, 0.7); /* Dark background */
   color: white !important; /* Change close icon color */
   font-size: 24px !important; /* Increase size */
   top: 10px !important; /* Adjust position */
   right: 10px !important;
   border-radius: 50%;
 }
 
 

/* Image Styling */
.img499,
.img3,
.img2 {
   width: 160px !important; /* Forces square size */
   height: 160px !important;
   object-fit: cover; /* Ensures image fills the square without distortion */
   border-radius: 10px !important;
   border: 2px solid #016ab9;
   padding: 1px !important;
   margin: 10px !important;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
   .gallery_row,
   .second_gallery_row,
   .third_gallery_row {
      flex-direction: row !important;
      justify-content: center;
      align-items: center;
      gap: 15px !important;
   }

   .img499,
   .img3,
   .img2 {
      width: 120px !important; /* Adjusting square size for smaller screens */
      height: 120px !important;
   }
}

@media (max-width: 426px) {
   .gallery_row,
   .second_gallery_row,
   .third_gallery_row {
      flex-direction: column !important;
   }

   .img499,
   .img3,
   .img2 {
      width: 100px !important;
      height: 100px !important;
   }
   /* .lg-download{
      display: none;
    } */
    .lg-rotate-left{
      display: none;
    }
    .lg-rotate-right{
      display: none;
    }
    .lg-flip-ver{
      display: none;
    }
    .lg-flip-hor{
      display: none;
    }
  

   img.lg-object.lg-image {
      height: 30vh !important;
      width: auto !important;
      margin-top: 125px !important;
   }
   .lg-outer .lg-img-rotate {
      display: contents;
     
   }
   
}

@media (min-width: 1440px) {
   .img2 {
      margin-left: 55px;
   }
}