.table {
    border: 2px solid#016ab9;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    text-align:center;


}
.table tr td {
    border: 2px solid#016ab9!important;
}
.table tr th{
    border: 3px solid  #016ab9 !important;
    color: white  !important;
    /* font-size: large; */
    background: #016ab9 !important;
}
 .table tr td:hover{
    color:  #016ab9;
}

.project_heading{
    text-align:justify;
    color:  #016ab9;
    font-size: xx-large;
    margin-top: 50px !important;
}

@media (min-width:320px) and (max-width:430px) {
    .project_heading{
        font-size: large !important;
    }
}